@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Nunito';
        src: url('../../assets/fonts/Nunito.ttf') format('truetype');
        font-style: normal;
    }
}